@charset "UTF-8";

body {
    position: relative;

    background-color: #000000;
    background-image: url(../imgs/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*não usei shorthand por que não funcionava em dispositivos móveis!*/
}

main {
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -0.2%);

    background-color: #ffffff;
    border-radius: 10px;
}

img#img_top {
    padding-top: 10px;
    display: block;
    margin: auto;
}

img#computer {
    display: block;
    margin: auto;
}

.container {
    text-align: center;
}

input {
    margin-right: 6px;
}

#submit {
    margin-left: 10px;
}

#restart {
    margin: 20px auto -1px auto;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.points {
    margin: 5px;
}

.points > p {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: large;
}